h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font: size 20px;
}

#whatsapp{

    height: 20px;
    width: 20px;
    position-:sticky;
}
.box{
    border:5px  red;
    height: 20px;
    width: 50px;
}