*{
    padding:5px;
    border: 0;
    margin:20px 20px 20px 20px;
}

#Login{
border: 2px solid blue;
padding:10px;
margin: auto;
background-color: aqua;
height: 40%;
width: 40%;

}

input{
    border: 1px black solid;
    margin: auto;
}



